In [1]:
import pandas as pd

In [3]:
stats = pd.read_csv('Full_NFL_Stats_2022.csv')

In [4]:
stats.head()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
0,0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,1.0,13.0
1,1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,NaN,4.0
2,2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,NaN,62.0
3,3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,NaN,23.0
4,4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,NaN,8.0

In [7]:
rec_rat = stats.loc[stats['displayName'] == 'ESPN Widereceiver Rating']
rec_rat = rec_rat.sort_values(by='rank')

In [9]:
rec_rat.tail()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
8302,1,Ravens,ESPN Widereceiver Rating,The ESPN Widereceiver Rating.,ESPNWR,5367.0,NaN,28.0
2548,1,Titans,ESPN Widereceiver Rating,The ESPN Widereceiver Rating.,ESPNWR,5212.0,NaN,29.0
7754,1,Panthers,ESPN Widereceiver Rating,The ESPN Widereceiver Rating.,ESPNWR,5141.0,NaN,30.0
82,1,Falcons,ESPN Widereceiver Rating,The ESPN Widereceiver Rating.,ESPNWR,4807.0,NaN,31.0
630,1,Bears,ESPN Widereceiver Rating,The ESPN Widereceiver Rating.,ESPNWR,4378.0,NaN,32.0

In [10]:
targets = stats.loc[stats['displayName'] == 'Receiving Targets']
targets = targets.sort_values(by='rank')

In [12]:
targets.tail()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
8311,10,Ravens,Receiving Targets,The number of times a receiver is thrown to.,TGTS,465.0,27.0,28.0
2557,10,Titans,Receiving Targets,The number of times a receiver is thrown to.,TGTS,436.0,25.0,29.0
7763,10,Panthers,Receiving Targets,The number of times a receiver is thrown to.,TGTS,427.0,25.0,30.0
91,10,Falcons,Receiving Targets,The number of times a receiver is thrown to.,TGTS,400.0,23.0,31.0
639,10,Bears,Receiving Targets,The number of times a receiver is thrown to.,TGTS,359.0,21.0,32.0

In [15]:
ypg = stats.loc[stats['displayName'] == 'Receiving Yards Per Game']
ypg = ypg.sort_values(by='rank')

In [17]:
ypg.tail()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
7768,15,Panthers,Receiving Yards Per Game,The average number of receiving yards per game.,YDS/G,190.941,NaN,28.0
2562,15,Titans,Receiving Yards Per Game,The average number of receiving yards per game.,YDS/G,189.824,NaN,29.0
8316,15,Ravens,Receiving Yards Per Game,The average number of receiving yards per game.,YDS/G,188.353,NaN,30.0
96,15,Falcons,Receiving Yards Per Game,The average number of receiving yards per game.,YDS/G,172.176,NaN,31.0
644,15,Bears,Receiving Yards Per Game,The average number of receiving yards per game.,YDS/G,152.824,NaN,32.0

In [26]:
rec_td = stats.loc[stats['displayName'] == 'Receiving Touchdowns']
rec_td = rec_td.sort_values(by='value',ascending=False)
rec_td =rec_td.drop_duplicates(subset=['teamName'])

In [32]:
rec_td.tail()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
3802,5,Rams,Receiving Touchdowns,The total number of receiving touchdowns.,REC,16.0,NaN,28.0
2706,5,Titans,Receiving Touchdowns,The total number of receiving touchdowns.,REC,16.0,NaN,28.0
7764,11,Panthers,Receiving Touchdowns,The total number of receiving touchdowns.,TD,16.0,NaN,28.0
5298,11,Jets,Receiving Touchdowns,The total number of receiving touchdowns.,TD,15.0,NaN,31.0
6268,5,Steelers,Receiving Touchdowns,The total number of receiving touchdowns.,REC,12.0,NaN,32.0

In [31]:
bottom_wr = []

for df in [rec_rat, targets, ypg,rec_td]:

    bottom_names = list(df['teamName'].tail(16))

    bottom_wr += bottom_names

name_counts = {name: bottom_wr.count(name) for name in set(bottom_wr)}

final_names = [name for name in name_counts.keys() if name_counts[name] == 4]

print(final_names)

['Giants', 'Patriots', 'Browns', 'Panthers', 'Ravens', 'Bears', 'Titans', 'Rams', 'Falcons']